In [69]:
import pandas as pd
import numpy as np
import unicodedata
df_mun = pd.read_csv('input/df_diccionario_mun.csv')
#df_mun = df_mun.zfill(2)
#df_mun['CVEGEO'] = df_mun['CVEGEO'].astype(str).zfill(5)
df_mun

,CVEGEO,NOM_ENT,NOMGEO,NOMGEO2,NOM_ENT2
0,12003,Guerrero,Ajuchitlán del Progreso,ajuchitlan del progreso,guerrero
1,13041,Hidalgo,Mixquiahuala de Juárez,mixquiahuala de juarez,hidalgo
2,12067,Guerrero,Tlapehuala,tlapehuala,guerrero
3,13025,Hidalgo,Huautla,huautla,hidalgo
4,13027,Hidalgo,Huehuetla,huehuetla,hidalgo
...,...,...,...,...,...
2464,20429,Oaxaca,Santa María Sola,santa maria sola,oaxaca
2465,20511,Oaxaca,Santo Domingo Nuxaá,santo domingo nuxaa,oaxaca
2466,20227,Oaxaca,San Lorenzo Cacaotepec,san lorenzo cacaotepec,oaxaca
2467,20329,Oaxaca,San Pedro Teozacoalco,san pedro teozacoalco,oaxaca
2468,20393,Oaxaca,Santa Lucía Ocotlán,santa lucia ocotlan,oaxaca

In [75]:
x = 'Compostela'
x = x.replace("%20", " " )
x = (unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').strip().lower().decode('UTF-8'))
y = 'Nayarit'
y = y.replace("%20", " " )
y = (unicodedata.normalize('NFKD', y).encode('ASCII', 'ignore').strip().lower().decode('UTF-8'))
print(x, y)

compostela nayarit

In [11]:
df_mun = pd.read_csv('input\df_diccionario_mun.csv')
clave = df_mun.loc[:, 'NOMGEO2'] == x
clave = df_mun.loc[clave]['CVEGEO']
clave

611      3009
1354    32024
Name: CVEGEO, dtype: int64

In [64]:
df_mun = pd.read_csv('input\df_diccionario_mun.csv')
df_mun.query("NOM_ENT2 == '%s' and NOMGEO2 == '%s'" % (y, x))

     CVEGEO              NOM_ENT  NOMGEO NOMGEO2             NOM_ENT2
446    3003  Baja California Sur  La Paz  la paz  baja california sur

In [76]:
#clave = df_mun.loc[(df_mun['NOM_ENT2'] == y) & (df_mun['NOMGEO2'] == x)]
clave = df_mun.query("NOM_ENT2 == '%s' and NOMGEO2 == '%s'" % (y, x))
clave = str(int(clave['CVEGEO']))
clave.zfill(5)

'18004'

In [46]:
print(clave['CVEGEO'])

0    12003
Name: CVEGEO, dtype: int64

In [47]:
a = clave['CVEGEO'] + 5

In [48]:
a

0    12008
Name: CVEGEO, dtype: int64

In [49]:
type(a)

pandas.core.series.Series

'baja california sur'

,CVEGEO,NOM_ENT,NOMGEO,NOMGEO2,NOM_ENT2
0,12003,Guerrero,Ajuchitlán del Progreso,ajuchitlan del progreso,guerrero
1,13041,Hidalgo,Mixquiahuala de Juárez,mixquiahuala de juarez,hidalgo
2,12067,Guerrero,Tlapehuala,tlapehuala,guerrero
3,13025,Hidalgo,Huautla,huautla,hidalgo
4,13027,Hidalgo,Huehuetla,huehuetla,hidalgo
5,11002,Guanajuato,Acámbaro,acambaro,guanajuato
6,12024,Guerrero,Cualác,cualac,guerrero
7,12043,Guerrero,Metlatónoc,metlatonoc,guerrero
8,13071,Hidalgo,Tlahuiltepa,tlahuiltepa,hidalgo
9,13030,Hidalgo,Ixmiquilpan,ixmiquilpan,hidalgo
10,13051,Hidalgo,Mineral de la Reforma,mineral de la reforma,hidalgo
11,12081,Guerrero,Iliatenco,iliatenco,guerrero
12,13065,Hidalgo,Tetepango,tetepango,hidalgo
13,11021,Guanajuato,Moroleón,moroleon,guanajuato
14,12078,Guerrero,Cochoapa el Grande,cochoapa el grande,guerrero
15,13079,Hidalgo,Xochicoatlán,xochicoatlan,hidalgo
16,13059,Hidalgo,Tecozautla,tecozautla,hidalgo
17,11001,Guanajuato,Abasolo,abasolo,guanajuato
18,11037,Guanajuato,Silao de la Victoria,silao de la victoria,guanajuato
19,13018,Hidalgo,Chapulhuacán,chapulhuacan,hidalgo
20,10039,Durango,Nuevo Ideal,nuevo ideal,durango
21,12031,Guerrero,General Canuto A. Neri,general canuto a. neri,guerrero
22,12037,Guerrero,Ixcateopan de Cuauhtémoc,ixcateopan de cuauhtemoc,guerrero
23,13031,Hidalgo,Jacala de Ledezma,jacala de ledezma,hidalgo
24,13033,Hidalgo,Juárez Hidalgo,juarez hidalgo,hidalgo
25,13076,Hidalgo,Tula de Allende,tula de allende,hidalgo
26,14076,Jalisco,San Martín de Bolaños,san martin de bolanos,jalisco
27,13007,Hidalgo,Almoloya,almoloya,hidalgo
28,13084,Hidalgo,Zimapán,zimapan,hidalgo
29,11029,Guanajuato,San Diego de la Unión,san diego de la union,guanajuato
30,12006,Guerrero,Apaxtla,apaxtla,guerrero
31,12022,Guerrero,Coyuca de Catalán,coyuca de catalan,guerrero
32,13006,Hidalgo,Alfajayucan,alfajayucan,hidalgo
33,13026,Hidalgo,Huazalingo,huazalingo,hidalgo
34,13028,Hidalgo,Huejutla de Reyes,huejutla de reyes,hidalgo
35,14020,Jalisco,Cabo Corrientes,cabo corrientes,jalisco
36,10038,Durango,Vicente Guerrero,vicente guerrero,durango
37,12052,Guerrero,San Luis Acatlán,san luis acatlan,guerrero
38,12025,Guerrero,Cuautepec,cuautepec,guerrero
39,13029,Hidalgo,Huichapan,huichapan,hidalgo

In [78]:
#Import libraries 
import findspark
import unicodedata
findspark.init()
import shapely
import pandas as pd
import geopandas as gpd
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark import SparkConf
from sedona.register import SedonaRegistrator
from sedona.utils import SedonaKryoRegistrator, KryoSerializer

#Begin spark sesion
def begin_spark():
    spark = SparkSession. \
    builder. \
    appName('appName'). \
    config("spark.serializer", KryoSerializer.getName). \
    config("spark.executor.memory", "5g"). \
    config("spark.driver.memory", "10g"). \
    config('spark.driver.maxResultSize', '5g'). \
    config("spark.kryo.registrator", SedonaKryoRegistrator.getName). \
    config('spark.jars.packages',
            'org.apache.sedona:sedona-python-adapter-3.0_2.12:1.2.0-incubating,org.datasyslab:geotools-wrapper:1.1.0-25.2'). \
    getOrCreate()
    SedonaRegistrator.registerAll(spark)
    return spark


def connection_municipal(spark):
    BD_MUNICIPAL = spark.read.parquet("input/SCINCE_Parquets_Municipal/*.parquet")
    BD_MUNICIPAL.cache()
    BD_MUNICIPAL.createOrReplaceTempView("estados")


def clean_str(x, y):
    x = x.replace("%20", " " )
    x = (unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').strip().lower().decode('UTF-8'))
    y = y.replace("%20", " " )
    y = (unicodedata.normalize('NFKD', y).encode('ASCII', 'ignore').strip().lower().decode('UTF-8'))
    return x, y


def get_CVEGEO_mun(estado, municipio):
    df_mun = pd.read_csv('input\df_diccionario_mun.csv')
    #clave = df_mun.loc['NOMGEO2' == municipio and 'NOM_ENT2' == estado ]
    #clave = str(int(df_mun.loc[clave]['CVEGEO']))
    clave = df_mun.query("NOM_ENT2 == '%s' and NOMGEO2 == '%s'" % (estado, municipio))
    clave = str(int(clave['CVEGEO']))
    return clave




spark = begin_spark()
pob_m = pob_municipio('Oaxaca', 'Abejones', spark)
#print('La población del municipio de ' + str(nom_m) + ', ' + str(nom_e) + ' es: '+str(pob_m))
#print(pob_municipio('Monterrey', spark))

In [88]:
pob_m

array([], shape=(0, 3), dtype=object)

In [92]:
estado = 'Ciudad de mexico'
municipio = 'Iztapalapa'
connection_municipal(spark)
estado, municipio = clean_str(estado, municipio)
print(estado, municipio)
#nom_e = str(pob_m[0][2])
#nom_m = str(pob_m[0][1])
#pob_m = str(pob_m[0][0])

ciudad de mexico iztapalapa

In [93]:
clave = get_CVEGEO_mun(estado, municipio)
clave = clave.zfill(5)
clave

'09007'

In [94]:
pob_m = spark.sql("""
SELECT POB1, NOMGEO, NOM_ENT
FROM estados
WHERE CVEGEO = '%s';
""" % clave)
pob_m.cache()
pob_m.show()

+---------+----------+----------------+
|     POB1|    NOMGEO|         NOM_ENT|
+---------+----------+----------------+
|1835486.0|Iztapalapa|Ciudad de México|
+---------+----------+----------------+

In [95]:
pob_m = pob_m.toPandas().to_numpy()
pob_m

array([[1835486.0, 'Iztapalapa', 'Ciudad de México']], dtype=object)

In [99]:
nom_e = str(pob_m[0][2])
nom_m = str(pob_m[0][1])
pob_m = str(pob_m[0][0])

In [100]:
print("En 2020 la poblacion de %s ,%s era de %s personas" % (nom_m, nom_e, pob_m))

En 2020 la poblacion de Iztapalapa ,Ciudad de México era de 1835486.0 personas

In [25]:
json_flag = {'municipio': 'Monterrey',  #Diccionario de pruebas para ingresar parametros
    'estado': 'Nuevo Leon',
    'filtro': 'hombre',  # lista disponible(hombre, mujer, infantil, joven, adulto, mayor)
    'desglose': 'edad'}  # lista diponible(edad, sexo)

In [9]:
filter_list = ['hombre', 'mujer', 'infantil', 'joven', 'adulto', 'mayor']
json_flag['filtro'] in filter_list

True

In [30]:
json_flag = {'municipio': 'Monterrey',  #Diccionario de pruebas para ingresar parametros
    'estado': 'Nuevo Leon',
    'filtro': 'infantil',  # lista disponible(hombre, mujer, infantil, joven, adulto, mayor)
    'desglose': 'sexo'}  # lista diponible(edad, sexo)

def get_compatibles(filtro, desglose):
    if (filtro == 'hombre' or filtro == 'mujer') and desglose == 'edad':
        compatible = True
    elif (filtro == 'infantil' or filtro == 'joven' or filtro == 'adulto' or filtro == 'mayor') and desglose == 'sexo':
        compatible = True
    else:
        compatible = False
    return compatible

compatible = get_compatibles(json_flag['filtro'], json_flag['desglose'])
compatible

True

In [24]:
import numpy as np
lista = np.array([[225102.0, 228140.0, 227316.0, 231655.0, 248293.0, 239870.0, 221419.0, 210620.0, 204546.0, 193524.0, 169947.0, 133074.0, 113541.0, 81642.0, 62182.0, 41804.0, 28281.0, 23453.0]])
#lista = np.transpose(lista)
lista = lista[0].tolist()
lista[3]

231655.0